<div class="chart">
	<LayerCake
		{...props}
	/>
</div>

<style>
	.chart {
	  position: relative;
	  box-sizing: border-box;
	  height: 20em;
	  border: 1px solid #bbccdd;
	}
</style>

<script>
	import LayerCake from "../layercake/LayerCake.html";
	import ChartOutline from "./ChartOutline.html";
	import ChartLine from "./ChartLine.html";

	export default {
	  components: {
	    LayerCake
	  },

	  computed: {
	    // Maybe we should be more intentional about what gets passed
	    props: state => state
	  },

	  data() {
	    return {
	      isBrowser: typeof window !== "undefined",
	      svgLayers: [
	        {
	          component: ChartOutline,
	          options: {}
	        },
	        {
	          component: ChartLine,
	          options: {}
	        }
	      ]
	    };
	  }
	};
</script>
