<path class="chart-line" d="{ path }"></path>

<style>
  .chart-line {
    fill: none;
    stroke: red;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-width: 2;
  }
</style>

<script>
  export default {
    namespace: "svg",

    computed: {
      path: ({ data, xScaled, yScaled }) => {
        if (!data || !xScaled || !yScaled) {
          return "";
        }

        return (
          "M" +
          data
            .map((d, i) => {
              return xScaled(d) + "," + yScaled(d);
            })
            .join("L")
        );
      }
    }
  };
</script>

